html, body{
    overflow: hidden;
    font-family: 'Sawarabi Gothic', sans-serif;
}

body{
    width:70%;
    text-align: center;
    margin: 0 auto;
    color: #332b05;
    background: rgba(255, 255, 255,0.2);
    background-image: url("img/drawing.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
}

.wrap{
    margin-top: 0px;
    background: #ffffff;
    height: 100vh;
}

.menu{
    top: 2.4%;
    left: 13.5%;
    position: absolute;
    color: #fff;
}

/*ボタン装飾*/
.menu label {
    padding: 15px 29px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    background-color: #0075ff;
}

/*ボタンホバー時*/
.menu label:hover {
    background: #7cb9ff;
}

/*チェックは見えなくする*/
.menu input {
    display: none;
}

/*中身を非表示にしておく*/
.menu .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.menu input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.hidden_show{
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    margin-top:6px;
    margin-left: 19px;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    color: #333;
    font-weight: 700;
    background-color: #cccccc;
    transition: 0.3s;
    border-bottom: solid 2px #333;
    text-decoration: none;
}

.home::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  
.home:hover {
    text-decoration: none;
    background-color: #bbbbbb;
}

.nuri{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    color: #333;
    font-weight: 700;
    background-color: #cccccc;
    transition: 0.3s;
    text-decoration: none;
}

.nuri::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
}
  
.nuri:hover {
    text-decoration: none;
    background-color: #bbbbbb;
}


h1{
    margin:0px auto 20px auto;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 15px;
}

p{
    font-weight: bold;
}

nav *{
    position: fixed; 
}

.navi{
    margin-left: 10px;
    margin-bottom: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #0075ff;
    background: #0075ff;
    letter-spacing: 1px;
    font-size: 16px;
}

.navi:hover{
    background-color: #fff;
    color: #332b05;
}

#drowarea{
    margin:0 auto;
}

.tool{
    margin-top: 10px;
    height: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.tool :nth-child(2){
    margin-left: 32px;
}

.tool :last-child{
    margin-left: 38px;  
}

.tool_icon{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.tool_icon :nth-child(2){
    margin-left: 15px;
}

.tool_icon :nth-child(3){
    margin-left: 30px;
}

.tool_icon :last-child{
    margin-left: 10px;
}

.tool_btn {
    width: auto;
    height: 40px;
    padding: 6px 11px 5px 2px;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;  
    background: #fff;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;    
}

.tool_btn:hover{
    background: #aad1ff;
}

.tool_btn:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

#col{
    background: #fff;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin-left: 22%;
 }

 .slider_announce{
     margin-left: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
 }

 .slider_announce:nth-child(2){
    margin-left: 153px;
}

.tool_range{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 2px;        
}

.tool_lange :first-child{
    margin-left: 30px;
}

.tool_range:nth-child(2){
    margin-left: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    background: #0075ff; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #0075ff; /* バー周囲の線 */
    width: 150px;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /*デフォルトのつまみのスタイルを解除 */
    background: #85bdff; /* 背景色 */
    width: 20px; /* 幅 */
    height: 20px; /* 高さ */
    border-radius: 50%; /* 円形に */
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3); /* 影 */
  }